.text {
    animation: run 17s linear infinite;
    white-space: nowrap;
}

@keyframes run {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}